<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DowloadY</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

        html {
            font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
    </style>
</head>

<body class="leading-normal tracking-normal text-indigo-400 m-6 bg-cover bg-fixed" style="background-color: #020303;">
<div class="h-full">
    <!--Nav-->
    <div class="w-full container mx-auto">
        <div class="w-full flex items-center justify-between">
            <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                Down<span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">loadY</span>
            </a>
        </div>
    </div>

    <!--Main-->
    <div class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
            <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
                    Welcome to DownloadY!
                </span>
            </h1>
            <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
                Make easy your download with us.
            </p>

            <!-- Display messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="relative block w-full p-4 mb-4 text-base leading-5 text-white bg-green-500 rounded-lg opacity-100 font-regular">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4" method="post" onsubmit="showDownloadIcon()">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-blue-300 py-2 font-bold mb-2" for="url">
                        Paste your link here
                    </label>
                    <input class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out" id="url" name="link" type="text" placeholder="Paste your link here">
                </div>

                <div class="flex items-center justify-between pt-4">
                    <button class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out" type="submit">
                        Download
                    </button>
                </div>
            </form>
        </div>

        <!-- Right Col -->
        <div class="mx-auto md:pt-16">
            <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
                <!-- Download Icon -->
                <i id="download-icon" class="fa fa-download fa-3x" style="display: none;"></i>
            </div>
        </div>
    </div>
</div>

<script>
    // Função para mostrar o ícone de download
    function showDownloadIcon() {
        document.getElementById("download-icon").style.display = "inline";
    }

    // Função para ocultar o ícone de download
    function hideDownloadIcon() {
        document.getElementById("download-icon").style.display = "none";
    }
</script>
</body>
</html>
